Flask==2.1.1
Flask-SQLAlchemy==2.5.1
Jinja2==3.1.1
MarkupSafe==2.1.1
SQLAlchemy==1.4.35
Werkzeug==2.1.1
aniso8601==9.0.1
attrs==21.4.0
click==8.1.2
colorama==0.4.4
flask-restx==0.5.1
greenlet==1.1.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
jsonschema==4.4.0
marshmallow==3.15.0
pip==22.0.4
pyrsistent==0.18.1
pytz==2022.1
setuptools==62.0.0
six==1.16.0
typing-extensions==4.1.1
wheel==0.37.1
zipp==3.8.0