<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страничка поискового запроса:</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <a href="/">
                <li>главная</li>
            </a>
            <a href="/list">
                <li>кандидаты</li>
            </a>
            <a href="/search/">
                <li>поиск по имени кандидата</li>
            </a>
            <a href="/skill/">
                <li>поиск по навыкам кандидата</li>
            </a>
        </ul>
    </nav>

    <div class="wrapper_user">
        <h2>Чтобы начать поиск введите в конце адресной строки <br> ИМЯ кандидата (либо часть имени).</h2>
    </div>


</div>

</body>
</html>

